// Specific CSS for your home-page
@import "../config/colors";
body, html {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.banner {
  width: 100%;
  height: 400px;
  background-image: url("pexels-pripicart-620335.jpg");
  background-size: cover;
  background-position-y: 30%;
  padding: 10px;
  color: $dark-yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: end;
}
#home-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 30px;
  width: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);;
  margin: auto;
  flex: 1;
}

.centered-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.flexbox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:center;
}

.flex-items {
  margin: 15px;
}
