<div class="banner">
  <div>
    <h1>Carrently-living</h1>
    <div>
      <h4>make car renting easier.</h4>
    </div>
  </div>
</div>
<div id="home-container">
  <div class="flexbox">
    <div class="flex-items">
      <h3><strong>Cars fit to your needs</strong></h3>
    </div>
    <div class="flex-items">
      <h5>Take a quick look at our offers down here:</h5>
    </div>
    <div class="flex-items">
      <%= link_to "Cars", cars_path, class: "big-button"%>
    </div>
  </div>
</div>
