<div class="title">
  <h2><strong>All cars</strong></h2>
  <h5>Choose one that suits you:</h5>
</div>
<div class="car-grid">
  <% @cars.each do |car|%>
    <div id="link-card"><%= link_to car_path(car) do %></div>
      <div class="car-card">
        <div class="align-self-center">
          <div id="brand">
            <h3 class="align-self-center"><%= car.brand %></h3>
          </div>
          <div id="model">
            <p class="align-self-center"><%= car.model %></p>
          </div>
          <div id="price_per_day">
            <p class="align-self-center"><strong><%= car.price_per_day %>/jour</strong></p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
